[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansimarkup = "==1.4.0"
argh = "==0.26.2"
asn1crypto = "==0.24.0"
behave = "==1.2.6"
better-exceptions-fork = "==0.2.1.post6"
cachier = "==1.2.4"
certifi = "==2019.9.11"
cffi = "==1.12.3"
chardet = "==3.0.4"
click = "==7.0"
colorama = "==0.4.1"
cryptography = "==2.7"
future = "==0.17.1"
idna = "==2.7"
loguru = "==0.2.5"
parse = "==1.12.1"
parse-type = "==0.5.2"
pathtools = "==0.1.2"
peewee = "==3.10.0"
plumbum = "==1.6.7"
portalocker = "==1.5.1"
pycparser = "==2.19"
pymongo = "==3.7.2"
pyparsing = "==2.4.2"
pypiwin32 = "==223"
python-rex = "==0.4"
python-sqlite-orm = "==0.0.1"
python-telegram-bot = "==12.1.0"
pywin32 = "==225"
requests = "==2.20.0"
six = "==1.12.0"
telegram = "==0.0.1"
tornado = "==6.0.3"
updater = "==0.1.18"
urllib3 = "==1.24.3"
watchdog = "==0.9.0"
Pygments = "==2.4.2"
PyYAML = "==5.1.2"

[requires]
python_version = "3.7"
